* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.exo1 {
    width: 80vw;
    height: auto;
    margin: 3vw;

    h1 {
        margin-bottom: 3vw;
    }

    iframe {
        width: 680px;
        height: 430px;
        margin-left: 10vw;
    }
}

.exo2 {
    width: 80vw;
    height: auto;
    margin: 3vw;

    h1 {
        margin-bottom: 3vw;
    }

    div {
        box-sizing: content-box;
        width: 596px;
        height: 722px;
        padding: 2vw 4vw 2vw 4vw;
        margin-left: 6vw;
        background-color: #b9b5b5;
    }

    iframe {
        width: 596px;
        height: 722px;

    }
}
.exo3 {
    width: 80vw;
    height: auto;
    margin: 3vw;

    h1 {
        margin-bottom: 3vw;
    }

    div {
        box-sizing: content-box;
        width: 897px;
    height: 337px;
        padding: 2vw 4vw 2vw 4vw;
        margin-left: 6vw;
        background-color: #b9b5b5;
    }

    iframe {
        width: 897px;
    height: 337px;

    }
}

.tags {
    width: 680px;
    height: 430px;
    background-color: whitesmoke;

    h1 {
        font-family: 'Caladea', serif;
        font-weight: 700;
        font-size: 37px;
        padding-left: 15px;
        padding-top: 15px;
    }

    hr {
        color: #e4e4e4;
        width: 650px;
        height: 1px;
        border: solid 1px;
        margin-left: 15px;
        margin-top: 27px;
        margin-bottom: 60px;
    }

    .container {
        margin-left: 15px;
        margin-right: 15px;

        button {
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            font-size: 27px;
            background-color: white;
            padding: 11px 17px 11px 17px;
            border-radius: 8px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
            margin: 0 5px 14px 5px;
        }
    }
}

.complex {
    @font-face {
        font-family: vladivostok-bold;
        src: url(../fonts/bold.woff2) format('woff2');
        src: url(../fonts/bold.woff) format('woff');
    }

    @font-face {
        font-family: vladivostok;
        src: url(../fonts/regular.woff2) format('woff2');
        src: url(../fonts/regular.woff) format('woff');
    }

    font-family: vladivostok,
    'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
    width: 596px;
    height: 722px;
    background-color: white;

    .banner {
        width: 596px;
        height: auto;
        border: solid white;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
        border-width: 8px;
        display: flex;
        background-color: #1f1f1f;
        margin-bottom: 40px;


        img {
            height: 415px;
        }

        nav {
            width: 181px;
            background-color: #1f1f1f;
            padding-top: 10px;
        }

        i {
            color: #b9b5b5;
        }
    }

    .info {
        padding: 0px 8px 0px 50px;

        h2 {
            color: #535151;
            font-size: 24px;
            margin-bottom: 35px;
            font-family: vladivostok-bold;

        }

        .detail {
            color: #535151;
        }

        div {
            display: flex;
            justify-content: space-between;
            padding-right: 36px;

            p {
                font-size: 26px;
                font-family: vladivostok;
                color: #535151
            }
        }

        hr {
            border: solid 1px #9d9b9b14;
            margin-right: 36px;
            margin-top: 46px;
        }

        .user {
            height: 65px;
            margin-top: 13px;
            justify-content: flex-start;
            align-items: center;
            display: flex;
            margin-right: 0;
            padding-right: 0;

            img {
                height: 100%;
            }

            p {
                margin-left: 10px;
                text-transform: uppercase;
                font-size: 22.5px;
                width: 248px;
                overflow: hidden;
                text-overflow: ellipsis;

                white-space: nowrap;

                span {
                    font-family: vladivostok-bold;
                }
            }

            .tag {
                padding-right: 0;
                margin-right: 0;
                margin-left: 5px;

                :first-child {
                    background-color: #8fd5d8;
                }

                :nth-child(2) {
                    background-color: #9147f9;
                }

                :nth-child(3) {
                    background-color: #f34;
                }


                button {
                    margin-left: 5px;
                    height: 36px;
                    width: auto;
                    border-radius: 36px;
                    font-size: 19px;
                    padding-right: 8px;
                    padding-left: 8px;
                    letter-spacing: 3px;
                    color: white;
                }
            }
        }

    }

}

.jobs {
    width: 897px;
    height: 337px;
    background-color: white;
    @font-face {
        font-family: Linguistics-bold;
        src: url(../fonts/LinguisticsPro-Bold.otf) format('opentype');
    }

    @font-face {
        font-family: Linguistics;
        src: url(../fonts/LinguisticsPro-Regular.otf) format('opentype');
    }

    @font-face {
        font-family: Linguistics-italic;
        src: url(../fonts/LinguisticsPro-Italic.otf) format('opentype');
    }

    @font-face {
        font-family: Linguistics-bitalic;
        src: url(../fonts/LinguisticsPro-BoldItalic.otf) format('opentype');
    }

    font-family: linguistics,
    'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;

    h1 {
        width: 100%;
        font-family: linguistics-bold;
        font-size: 40px;
        font-weight: 400;
        padding: 20px;

    }

    hr {
        color: #e4e4e4;
        width: calc(100% - 20px);
        margin-left: 20px;
        height: 1px;
        border: solid 1px;
    }

    .finder {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;

        .research {
            width: 61%;

            div {
                display: flex;
                line-height: 38px;
                border-radius: 4px;
                padding-left: 15px;
                padding-right: 15px;
                justify-content: space-between;
                font-family: sans-serif;
                font-weight: 600;
                font-size: 14px;
            }

            div:first-child {
                display: flex;
                line-height: 40px;
                background-color: orange;
                border: solid 2px black;
                border-radius: 4px;
                padding-left: 15px;
                padding-right: 15px;
                justify-content: space-between;
                font-family: sans-serif;
                font-weight: 600;
                font-size: 14px;
            }
        }

        .results {
            font-family: sans-serif;
            font-weight: 600;
            font-size: 13px;
            padding-right:10px;
            p{
                line-height: 40px;
            }
        }
       
    }
}


/*# sourceMappingURL=style.scss.map */