* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.simple {
    width: 80vw;
    height: auto;
    margin: 3vw;

    h1 {
        margin-bottom: 3vw;
    }

    iframe {
        width: 680px;
        height: 430px;
        margin-left: 10vw;
    }
}

.tags {
    width: 680px;
    height: 430px;
    background-color: whitesmoke;

    h1 {
        font-family: 'Caladea', serif;
        font-weight: 700;
        font-size: 37px;
        padding-left: 15px;
        padding-top: 15px;
    }

    hr {
        color: #e4e4e4;
        width: 650px;
        height: 1px;
        border: solid 1px;
        margin-left: 15px;
        margin-top: 27px;
        margin-bottom: 60px;
    }

    .container {
        margin-left: 15px;
        margin-right: 15px;

        button {
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            font-size: 27px;
            background-color: white;
            padding: 11px 17px 11px 17px;
            border-radius: 8px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
            margin: 0 5px 14px 5px;
        }
    }
}

.complex {
    @font-face {
        font-family: vladivostok-bold;
        src: url(../fonts/bold.woff2) format('woff2');
        src: url(../fonts/bold.woff) format('woff');
    }

    @font-face {
        font-family: vladivostok;
        src: url(../fonts/regular.woff2) format('woff2');
        src: url(../fonts/regular.woff) format('woff');
    }

    font-family: vladivostok,
    'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
    width: 596px;
    height: 722px;

    .banner {
        width: 596px;
        height: auto;
        border: solid white;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
        border-width: 8px;
        display: flex;
        background-color: #1f1f1f;
        margin-bottom: 40px;


        img {
            height: 415px;
        }

        nav {
            width: 181px;
            background-color: #1f1f1f;
            padding-top: 10px;
        }

        i {
            color: #b9b5b5;
        }
    }

    .info {
        padding: 0px 8px 0px 50px;

        h2 {
            color: #535151;
            font-size: 24px;
            margin-bottom: 35px;
            font-family: vladivostok-bold;

        }

        .detail {
            color: #535151;
        }

        div {
            display: flex;
            justify-content: space-between;
            padding-right: 36px;

            p {
                font-size: 26px;
                font-family: vladivostok;
                color: #535151
            }
        }

        hr {
            border: solid 1px #9d9b9b14;
            margin-right: 36px;
            margin-top: 46px;
        }

        .user {
            height: 65px;
            margin-top: 13px;
            justify-content: flex-start;
            align-items: center;
            display: flex;

        }

    }
}

/*# sourceMappingURL=style.scss.map */