* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.exo1 {
  width: 80vw;
  height: auto;
  margin: 3vw;
}
.exo1 h1 {
  margin-bottom: 3vw;
}
.exo1 iframe {
  width: 680px;
  height: 430px;
  margin-left: 10vw;
}

.exo2 {
  width: 80vw;
  height: auto;
  margin: 3vw;
}
.exo2 h1 {
  margin-bottom: 3vw;
}
.exo2 div {
  box-sizing: content-box;
  width: 596px;
  height: 722px;
  padding: 2vw 4vw 2vw 4vw;
  margin-left: 6vw;
  background-color: #b9b5b5;
}
.exo2 iframe {
  width: 596px;
  height: 722px;
}

.exo3 {
  width: 80vw;
  height: auto;
  margin: 3vw;
}
.exo3 h1 {
  margin-bottom: 3vw;
}
.exo3 div {
  box-sizing: content-box;
  width: 897px;
  height: 337px;
  padding: 2vw 4vw 2vw 4vw;
  margin-left: 6vw;
  background-color: #b9b5b5;
}
.exo3 iframe {
  width: 897px;
  height: 337px;
}

.tags {
  width: 680px;
  height: 430px;
  background-color: whitesmoke;
}
.tags h1 {
  font-family: "Caladea", serif;
  font-weight: 700;
  font-size: 37px;
  padding-left: 15px;
  padding-top: 15px;
}
.tags hr {
  color: #e4e4e4;
  width: 650px;
  height: 1px;
  border: solid 1px;
  margin-left: 15px;
  margin-top: 27px;
  margin-bottom: 60px;
}
.tags .container {
  margin-left: 15px;
  margin-right: 15px;
}
.tags .container button {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 27px;
  background-color: white;
  padding: 11px 17px 11px 17px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin: 0 5px 14px 5px;
}

.complex {
  font-family: vladivostok, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 596px;
  height: 722px;
  background-color: white;
}
@font-face {
  font-family: vladivostok-bold;
  src: url(../fonts/bold.woff2) format("woff2");
  src: url(../fonts/bold.woff) format("woff");
}
@font-face {
  font-family: vladivostok;
  src: url(../fonts/regular.woff2) format("woff2");
  src: url(../fonts/regular.woff) format("woff");
}
.complex .banner {
  width: 596px;
  height: auto;
  border: solid white;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 8px;
  display: flex;
  background-color: #1f1f1f;
  margin-bottom: 40px;
}
.complex .banner img {
  height: 415px;
}
.complex .banner nav {
  width: 181px;
  background-color: #1f1f1f;
  padding-top: 10px;
}
.complex .banner i {
  color: #b9b5b5;
}
.complex .info {
  padding: 0px 8px 0px 50px;
}
.complex .info h2 {
  color: #535151;
  font-size: 24px;
  margin-bottom: 35px;
  font-family: vladivostok-bold;
}
.complex .info .detail {
  color: #535151;
}
.complex .info div {
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
}
.complex .info div p {
  font-size: 26px;
  font-family: vladivostok;
  color: #535151;
}
.complex .info hr {
  border: solid 1px rgba(157, 155, 155, 0.0784313725);
  margin-right: 36px;
  margin-top: 46px;
}
.complex .info .user {
  height: 65px;
  margin-top: 13px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  margin-right: 0;
  padding-right: 0;
}
.complex .info .user img {
  height: 100%;
}
.complex .info .user p {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 22.5px;
  width: 248px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.complex .info .user p span {
  font-family: vladivostok-bold;
}
.complex .info .user .tag {
  padding-right: 0;
  margin-right: 0;
  margin-left: 5px;
}
.complex .info .user .tag :first-child {
  background-color: #8fd5d8;
}
.complex .info .user .tag :nth-child(2) {
  background-color: #9147f9;
}
.complex .info .user .tag :nth-child(3) {
  background-color: #f34;
}
.complex .info .user .tag button {
  margin-left: 5px;
  height: 36px;
  width: auto;
  border-radius: 36px;
  font-size: 19px;
  padding-right: 8px;
  padding-left: 8px;
  letter-spacing: 3px;
  color: white;
}

.jobs {
  width: 897px;
  height: 337px;
  background-color: white;
  font-family: linguistics, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@font-face {
  font-family: Linguistics-bold;
  src: url(../fonts/LinguisticsPro-Bold.otf) format("opentype");
}
@font-face {
  font-family: Linguistics;
  src: url(../fonts/LinguisticsPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: Linguistics-italic;
  src: url(../fonts/LinguisticsPro-Italic.otf) format("opentype");
}
@font-face {
  font-family: Linguistics-bitalic;
  src: url(../fonts/LinguisticsPro-BoldItalic.otf) format("opentype");
}
.jobs h1 {
  width: 100%;
  font-family: linguistics-bold;
  font-size: 40px;
  font-weight: 400;
  padding: 20px;
}
.jobs hr {
  color: #e4e4e4;
  width: calc(100% - 20px);
  margin-left: 20px;
  height: 1px;
  border: solid 1px;
}
.jobs .finder {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.jobs .finder .research {
  width: 61%;
}
.jobs .finder .research div {
  display: flex;
  line-height: 38px;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.jobs .finder .research div:first-child {
  display: flex;
  line-height: 40px;
  background-color: orange;
  border: solid 2px black;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.jobs .finder .results {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 13px;
  padding-right: 10px;
}
.jobs .finder .results p {
  line-height: 40px;
}



/*# sourceMappingURL=style.css.map */
